* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans SC', 'Nunito', sans-serif;
}

* a {
  text-decoration: none;
}

* ul {
  list-style: none;
}

nav {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: whitesmoke;
}

nav .nav-container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-container .logo {
  font-family: 'Nunito';
  font-style: italic;
  font-size: 2.7rem;
  font-weight: 200;
}

nav .nav-container ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-container ul li a {
  color: #4f4f4f;
  font-weight: 300;
}

nav .nav-container ul li a:hover {
  color: #a47349;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

nav .nav-container .hamburger {
  font-size: xx-large;
  cursor: pointer;
  display: none;
}

main {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 35vh;
}

section {
  width: 85%;
  margin: 0 auto;
}

.text-container {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 10vh;
}

.text-container .title {
  font-size: xx-large;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 5vh;
}

.text-container .plain-text {
  font-weight: 200;
  text-align: center;
}

.text-container .small-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-top: 5vh;
  padding-bottom: 5px;
  font-size: xx-large;
  font-weight: 300;
  border-bottom: 1px dashed black;
}

.text-container .small-title-eng {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5vh;
  font-size: x-large;
  font-weight: 100;
}

.btn-white {
  background-color: white;
  font-size: 1rem;
  font-weight: 300;
  border: 0;
}

.btn-white a {
  display: block;
  padding: 0.5rem 4rem;
}

.btn-white a:visited {
  color: black;
}

.btn-black {
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  border: 0;
}

.btn-black a {
  display: block;
  padding: 0.5rem 4rem;
}

.btn-black a:visited {
  color: white;
}

.btn-white:hover,
.btn-black:hover {
  background-color: #a47349;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.home-container {
  margin-top: 20vh;
}

.home-container .parallax-container {
  width: 100%;
  background-color: whitesmoke;
}

.home-container .parallax-container .bg1 {
  width: 85%;
  margin: 0 auto;
  height: 80vh;
  background: transparent;
  position: relative;
}

.home-container .parallax-container .bg1 p {
  z-index: 100;
  position: absolute;
  left: 8.5%;
  top: 40%;
  color: white;
  font-size: 3rem;
}

.home-container .parallax-container .bg1 button {
  z-index: 100;
  position: absolute;
  left: 8.5%;
  top: 70%;
}

.home-container .parallax-container .bg2-container {
  width: 85%;
  margin: 0 auto;
  padding: 15vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-container .parallax-container .bg2-container .bg2 {
  min-width: 55%;
  aspect-ratio: 16 / 9;
  background: transparent;
}

.home-container .parallax-container .bg2-container .text-container {
  width: 45%;
}

.home-container .parallax-container .bg2-container .text-container p {
  width: 85%;
  margin-left: 15%;
  text-align: left;
  padding-bottom: 5vh;
}

.home-container .parallax-container .bg2-container .text-container button {
  margin-left: 15%;
}

.home-container .intro-container {
  width: 85%;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.home-container .intro-container .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .intro-container .content-container .sub-container p {
  text-align: center;
  padding: 1rem;
}

.home-container .intro-container .content-container .sub-container p:nth-of-type(1) {
  color: #a47349;
  font-size: x-large;
}

.home-container .service-container {
  margin: 0 auto;
  padding: 10vh 0;
  background-color: whitesmoke;
}

.home-container .service-container .work-display {
  width: 85%;
  margin: 0 auto;
}

.home-container .service-container .btn {
  text-align: center;
}

.home-container .corp-container {
  width: 85%;
  margin: 0 auto;
  padding: 10vh 0;
}

.home-container .corp-container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .corp-container .cell img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-container .text-container {
  padding-bottom: 5vh;
}

.home-container .text-container .title {
  padding-bottom: 5vh;
}

.parallax-window {
  min-height: 80vh;
  background: transparent;
  margin: 5vh 0 10vh 0;
}

.progress-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-container img {
  max-width: 45%;
}

.service-display {
  padding-bottom: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (31% 3.5%)[2] 31% minmax(0, 31%);
      grid-template-columns: repeat(2, 31% 3.5%) 31% minmax(0, 31%);
  -ms-grid-rows: ()[2];
      grid-template-rows: repeat(2);
}

.service-display .img-container {
  position: relative;
}

.service-display .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 20vw;
}

.service-display .img-container .img-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.service-display .img-container .img-text {
  width: 100%;
  height: 100%;
}

.service-display div:nth-of-type(1) {
  -ms-grid-column: 1;
  grid-column: 1;
}

.service-display div:nth-of-type(3) {
  -ms-grid-column: 3;
  grid-column: 3;
}

.service-display div:nth-of-type(5) {
  -ms-grid-column: 5;
  grid-column: 5;
}

.service-display div:nth-of-type(2) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.service-display div:nth-of-type(4) {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.service-display div:nth-of-type(6) {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 2;
  grid-row: 2;
}

.service-display div:hover .img-cover {
  opacity: 0.3;
}

.service-display p:nth-of-type(1) {
  font-size: larger;
  text-transform: uppercase;
  text-align: center;
  padding: 5vh;
}

.service-display p:nth-of-type(2) {
  font-weight: 100;
}

.work-display {
  padding-bottom: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30% 5%)[2] 30% minmax(0, 30%);
      grid-template-columns: repeat(2, 30% 5%) 30% minmax(0, 30%);
}

.work-display .img-container {
  position: relative;
}

.work-display .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
}

.work-display .img-container .img-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.work-display .img-container .img-text {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.work-display .img-container .img-text p {
  padding: 0 1rem;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: larger;
}

.work-display div:nth-of-type(1) {
  -ms-grid-column: 1;
  grid-column: 1;
}

.work-display div:nth-of-type(2) {
  -ms-grid-column: 3;
  grid-column: 3;
}

.work-display div:nth-of-type(3) {
  -ms-grid-column: 5;
  grid-column: 5;
}

.work-display div:hover .img-cover {
  opacity: 0.3;
}

.work-display div:hover .img-text {
  opacity: 1;
}

.work-display:nth-of-type(6) {
  padding-bottom: 10vh;
}

.contact-container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-container .contact-left {
  text-align: right;
  width: 35%;
}

.contact-container .contact-right {
  width: 55%;
  height: 30vw;
}

.contact-container p:nth-of-type(1) {
  font-size: xx-large;
  font-weight: 500;
}

.contact-container p:nth-of-type(2) {
  font-size: large;
  font-weight: 300;
  padding: 0.5rem 0 1rem 0;
}

.contact-container p:nth-of-type(3) {
  font-size: large;
  font-weight: 500;
  padding: 0.5rem 0;
}

.contact-container p:nth-of-type(4) {
  font-weight: 300;
}

footer {
  margin-top: 10vh;
  text-align: center;
}

footer .footer-banner {
  width: 100vw;
  padding: 7.5vh 0;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

footer .footer-banner p:nth-of-type(1) {
  font-weight: 500;
  font-size: xx-large;
}

footer .footer-banner p:nth-of-type(2) {
  font-weight: 100;
  font-size: large;
}

footer .footer-text {
  font-weight: 100;
  padding: 5vh 0;
}

@supports not (aspect-ratio: 1) {
  .bg2 {
    height: 26vw;
  }
  .work-display .img-container img {
    height: 25.5vw;
  }
}

@media screen and (max-width: 810px) {
  nav {
    height: 10vh;
  }
  nav .nav-container {
    width: 100%;
    position: relative;
  }
  nav .nav-container .logo {
    padding-left: 7.5%;
    font-size: x-large;
  }
  nav .nav-container ul {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: 0.25s ease-in;
    transition: 0.25s ease-in;
  }
  nav .nav-container ul li {
    width: 100%;
    text-align: center;
    border-bottom: white 1px solid;
  }
  nav .nav-container ul li a {
    display: block;
    padding: 0.5rem 0;
    color: white;
  }
  nav .nav-container ul li:last-child {
    border: none;
  }
  nav .nav-container .show-nav-list {
    height: auto;
    opacity: 1;
  }
  nav .nav-container .hamburger {
    padding-right: 7.5%;
    display: block;
  }
  main {
    margin-top: 20vh;
  }
  .text-container {
    padding-bottom: 10vw;
  }
  .text-container .title {
    font-size: x-large;
    padding-bottom: 5vw;
  }
  .text-container .small-title {
    padding-top: 5vw;
    font-size: larger;
  }
  .text-container .small-title-eng {
    padding-top: 5px;
    padding-bottom: 5vw;
    font-size: larger;
  }
  .home-container {
    margin-top: 0;
  }
  .home-container .parallax-container .bg1 {
    width: 100%;
    height: 100vh;
  }
  .home-container .parallax-container .bg1 p {
    left: 7.5vw;
    font-size: 2.5rem;
  }
  .home-container .parallax-container .bg1 button {
    left: 7.5vw;
    top: 70%;
  }
  .home-container .parallax-container .bg2-container {
    padding-top: 15vw;
    padding-bottom: 10vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-container .parallax-container .bg2-container .text-container {
    padding-top: 10vw;
    width: 100%;
  }
  .home-container .parallax-container .bg2-container .text-container p {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10vw;
  }
  .home-container .parallax-container .bg2-container .text-container button {
    margin: 0 auto;
    display: block;
  }
  .home-container .intro-container {
    padding-top: 10vw;
    padding-bottom: 5vw;
  }
  .home-container .intro-container .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-container .service-container {
    padding: 10vw 0;
  }
  .home-container .corp-container {
    padding: 10vw 0;
  }
  .home-container .text-container {
    padding-bottom: 5vw;
  }
  .home-container .text-container .title {
    padding-bottom: 5vw;
  }
  .parallax-window {
    min-height: 60vh;
    margin: 5vw 0 10vw 0;
  }
  .progress-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10vw;
  }
  .progress-container img {
    max-width: 75%;
  }
  .progress-container img:nth-of-type(1) {
    padding-top: 5vw;
    padding-bottom: 10vw;
  }
  .service-display {
    padding-bottom: 0;
    -ms-grid-columns: (7.5% 85%)[1] 7.5% minmax(0, 85%);
        grid-template-columns: repeat(1, 7.5% 85%) 7.5% minmax(0, 85%);
    -ms-grid-rows: (7.5vw 72.25vw)[5] 7.5vw minmax(0, 72.25vw);
        grid-template-rows: repeat(5, 7.5vw 72.25vw) 7.5vw minmax(0, 72.25vw);
  }
  .service-display .img-container img {
    height: 72.25vw;
  }
  .service-display div:nth-of-type(1) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .service-display div:nth-of-type(2) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .service-display div:nth-of-type(3) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .service-display div:nth-of-type(4) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 8;
    grid-row: 8;
  }
  .service-display div:nth-of-type(5) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 10;
    grid-row: 10;
  }
  .service-display div:nth-of-type(6) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 12;
    grid-row: 12;
  }
  .service-display p:nth-of-type(1) {
    padding: 1rem;
  }
  .service-display p:nth-of-type(2) {
    font-weight: 100;
  }
  .work-display {
    padding-bottom: 7.5vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (7.5% 85%)[1] 7.5% minmax(0, 85%);
        grid-template-columns: repeat(1, 7.5% 85%) 7.5% minmax(0, 85%);
    -ms-grid-rows: (72.25vw 7.5vw)[2] minmax(0, 72.25vw);
        grid-template-rows: repeat(2, 72.25vw 7.5vw) minmax(0, 72.25vw);
  }
  .work-display div:nth-of-type(1) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .work-display div:nth-of-type(2) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .work-display div:nth-of-type(3) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container .contact-left {
    text-align: left;
    width: 100%;
    padding-bottom: 10vh;
    text-align: center;
  }
  .contact-container .contact-right {
    width: 100%;
    height: 85vw;
  }
  .contact-container p:nth-of-type(1) {
    font-size: x-large;
    font-weight: 500;
  }
  footer {
    margin-top: 10vw;
  }
  footer .footer-banner {
    padding: 7.5vw 0;
  }
  footer .footer-banner p:nth-of-type(1) {
    font-weight: 500;
    font-size: larger;
  }
  footer .footer-banner p:nth-of-type(2) {
    font-weight: 100;
    font-size: medium;
  }
  footer .footer-text {
    padding: 10vw 0;
  }
  @supports not (aspect-ratio: 1) {
    .bg2 {
      height: 50vw;
    }
    .work-display .img-container img {
      height: 72.25vw;
    }
  }
}
/*# sourceMappingURL=style.css.map */